:root {
  --bg-doc: #6f8db8;
  --cloud-bg: #ffffff;
  --cloud-insert-shadow: #ccc;
}
* {
  z-index: 1;
}
html, body {
  margin: 0;
  padding: 0;
}

* {
  user-select: none;
}
canvas {
  display: block;
}

body {
  background-color: #a5c5e9;
}

h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: yellow;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-weight: bold;
  text-align: center;
  font-size: 5em;
  z-index: 2;
  position: relative;
}

#games img {
  width: 100px;
  height: 100px;
  border: 2px solid black;
}

#question {
  display: flex;
  justify-content: flex-end;
}

#help {
  background-color: white;
  width: 80vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 200px;
  border: black 1px solid;
  padding: 10px 50px;
  border-radius: 20px;
  visibility: hidden;
  z-index: 3;
}

#help img {
  width: 50px;
  height: 50px;
  margin-right: -50px;
  margin-top: -10px;
}
#help div {
  display: flex;
}

#help div:nth-child(1) {
  justify-content: end;
}

#help div:nth-child(2) {
  justify-content: center;
}

h3 {
  font-style: italic;
  font-weight: normal;
}
#games {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: 50px;
}

.game {
  height: 400px;
  align-content: center;
  border: solid 1.5px black;
  border-radius: 20px;
}

figcaption {
  border: solid 2px black;
}

h2 {
  margin: 20px;
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#games a figure {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 300px;
}

#games a figure img {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
  text-decoration: none;
}

#drawLine {
  background-color: #dec1db;
}

#drawLine figcaption {
  background-color: #d2a8c9;
}

#dragObject {
  background-color: #cfc9e3;
}

#dragObject figcaption {
  background-color: #b4a7d5;
}

#clickObject {
  background-color: #cfdbf5;
}

#clickObject figcaption {
  background-color: #a5c5e9;
}

#footer {
  display: flex;
  justify-content: space-between;
}

#volume {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
}

#quit, #question {
  margin-right: 20px;
  margin-top: 20px;
}

.function img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.function {
  background-color: #ecd079;
  display: flex;
  border: 2px solid black;
  border-radius: 20px;
}

.cloud1, .cloud1::before, .cloud1::after {
  box-sizing: border-box;
  position: absolute;
}

.cloud1::before, .cloud1::after {
  content: '';
}

.cloud1 {
  width: 350px;
  height: 150px;
  background-color: var(--cloud-bg);
  top: 25%;
  left: 20%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  box-shadow: 0 0 10px var(--cloud-bg), inset -10px -10px 30px var(--cloud-insert-shadow);
}

.cloud1::before {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--cloud-bg);
  top: -40px;
  left: 50px;
  box-shadow: 0 0 10px var(--cloud-bg);
}

.cloud1::after {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: var(--cloud-bg);
  top: -70px;
  left: 120px;
  box-shadow: 0 0 10px var(--cloud-bg);
}

.cloud2, .cloud2::before, .cloud2::after {
  box-sizing: border-box;
  position: absolute;
}

.cloud2::before, .cloud2::after {
  content: '';
}

.cloud2 {
  width: 350px;
  height: 150px;
  background-color: var(--cloud-bg);
  top: 35%;
  left: 75%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  box-shadow: 0 0 10px var(--cloud-bg), inset -10px -10px 30px var(--cloud-insert-shadow);
}

.cloud2::before {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--cloud-bg);
  top: -40px;
  left: 50px;
  box-shadow: 0 0 10px var(--cloud-bg);
}

.cloud2::after {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: var(--cloud-bg);
  top: -70px;
  left: 120px;
  box-shadow: 0 0 10px var(--cloud-bg);
}

.cloud3, .cloud3::before, .cloud3::after {
  box-sizing: border-box;
  position: absolute;
}

.cloud3::before, .cloud3::after {
  content: '';
}

.cloud3 {
  width: 350px;
  height: 150px;
  background-color: var(--cloud-bg);
  top: 75%;
  left: 55%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  box-shadow: 0 0 10px var(--cloud-bg), inset -10px -10px 30px var(--cloud-insert-shadow);
}

.cloud3::before {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--cloud-bg);
  top: -40px;
  left: 50px;
  box-shadow: 0 0 10px var(--cloud-bg);
}

.cloud3::after {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: var(--cloud-bg);
  top: -70px;
  left: 120px;
  box-shadow: 0 0 10px var(--cloud-bg);
}