/* =============================== GENERAL =============================== */
:root {
  --bg-doc: #6f8db8;
  --cloud-bg: #ffffff;
  --cloud-insert-shadow: #ccc;
}

* {
  z-index: 1;
  user-select: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

canvas {
  display: block;
}

body {
  background-color: #a5c5e9;
}

.function {
  background-color: #ecd079;
  border: 2px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 5px;
}

img.function {
  width: 30px;
  height: 30px;
  margin: 5px;
}

/* =============================== HEADER =============================== */
header div:nth-child(1) {
  display: flex;
  justify-content: flex-end;
}

#helpQuit{
  position: relative;
  left: 100%;
  top: 100%;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  background-color: #e93b3b;
  border: #e93b3b 1px solid;
  border-radius: 10px;
  padding: 5px 15px;
}

#helpContent {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 2;
  background-color: bisque;
  border: 3px solid grey;
  border-radius: 10px;
  overflow-y: scroll;
  max-width: 700px;
  max-height: 400px;
  padding: 50px;
  padding-top: 10px;
}

#helpContent h2 {
  font-weight: 900;
  text-align: center;
  margin: 0;
}

#helpContent h3 {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
}

#helpContent ul {
  list-style-type: "\1F449";
}

#helpContent::-webkit-scrollbar {
  width: 2px;
}

#helpContent::-webkit-scrollbar-track {
  background-color: bisque;
  border-radius: 100vw;
}

#helpContent::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 100vw;
}

#helpContent a:visited {
  color: blue;
  text-decoration: underline;
}

.cloud, .cloud::before, .cloud::after {
  position: absolute;
  box-sizing: border-box;
}

.cloud {
  transform: translate(-50%, -50%);
  background-color: var(--cloud-bg);
  border-radius: 100px;
  box-shadow: 0 0 10px var(--cloud-bg), inset -10px -10px 30px var(--cloud-insert-shadow);
  width: 350px;
  height: 150px;
}

.cloud::before {
  top: -40px;
  left: 50px;
  background-color: var(--cloud-bg);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--cloud-bg);
  width: 100px;
  height: 100px;
}

.cloud::after {
  top: -70px;
  left: 120px;
  background-color: var(--cloud-bg);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--cloud-bg);
  width: 180px;
  height: 180px;
}


.cloud::before, .cloud::after {
  content: '';
}

#cloud1 {
  top: 25%;
  left: 20%;
}

#cloud2 {
  top: 35%;
  left: 75%;
}

#cloud3 {
  top: 75%;
  left: 55%;
}

/* =============================== MAIN =============================== */

h1 {
  position: relative;
  z-index: 2;
  font-family: "Jersey 20";
  font-weight: bold;
  font-style: normal;
  font-size: 5em;
  color: yellow;
  text-shadow: 0 0 3px black, 0 0 5px black;
  text-align: center;
}

#games {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: 50px;
}

.game {
  align-content: center;
  color: black;
  border: solid 1.5px black;
  border-radius: 20px;
  text-decoration: none;
  height: 400px;
}

.game h2 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}

.game figure {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 300px;
}

.game figcaption {
  border: solid 2px black;
}

.game a:visited {
  color: black;
  text-decoration: none;
}

.game img {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

#drawLine {
  background-color: #dec1db;
}

#drawLine figcaption {
  background-color: #d2a8c9;
}

#dragObject {
  background-color: #cfc9e3;
}

#dragObject figcaption {
  background-color: #b4a7d5;
}

#clickObject {
  background-color: #cfdbf5;
}

#clickObject figcaption {
  background-color: #a5c5e9;
}

/* =============================== FOOTER =============================== */

#sound {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
