/* =============================== GENERAL =============================== */
html, body {
  font-family: sans-serif;
  background-color: #0496c7;
  cursor: default;
  user-select: none;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.function {
  background-color: #ecd079;
  border: 2px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 6px;
}

/* =============================== HEADER =============================== */
nav {
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 0;
}

nav a{
  font-weight: bold;
  font-size: 1.3em;
  text-decoration: none;
  background-color: #ecd079;
  border: black 2px solid;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 0;
  padding: 5px 15px;
}

nav a:visited {
  text-decoration: none;
  color: black;

}

#self {
  background-color: grey;
}

#helpContent {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  max-width: 700px;
  max-height: 400px;
  background-color: bisque;
  border: 3px solid grey;
  border-radius: 10px;
  overflow-y: scroll;
  padding: 50px;
  padding-top: 10px;
}

#helpQuit{
  position: relative;
  left: 100%;
  top: 100%;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  background-color: #e93b3b;
  border: #e93b3b 1px solid;
  border-radius: 10px;
  padding: 5px 15px;
}

#helpContent h2 {
  font-weight: 900;
  text-align: center;
  margin: 0;
}

#helpContent h3 {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
}

#helpContent::-webkit-scrollbar {
  width: 10px;
}

#helpContent::-webkit-scrollbar-track {
  background-color: bisque;
  border-radius: 100vw;
}

#helpContent::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 100vw;
}
#helpContent ul {
  list-style-type: "\1F680";
}

/* =============================== MAIN =============================== */
h1 {
  font-family: "Jersey 20";
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  color: yellow;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  margin-top: -15px;
}

/* =============================== NOTIFICATON =============================== */
#notification {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #0496c7;
}

#notification p{
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  padding: 10px 20px;
  margin: 0;
}

#gameProgress {
  display: none;
}

#timer {
  background-color: orange;
  margin: 0;
  padding: 10px 20px;
}

#score {
  background-color: orange;
  margin: 0;
  padding: 10px 20px;
}

#start {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  background-color: rgb(245, 64, 64);
  border: 1px rgb(255, 0, 0) solid;
  border-radius: 50%;
  width: max-content;
  padding: 20px;
  margin: 0 auto;
  margin-top: 10px;
}

/* =============================== SET TIMER =============================== */

#setTimerDisplay p, #setTimerDisplay button{
  font-weight: bold;
  color: white;
}

#setTimerDisplay p {
  font-size: 1.5rem;
  color: black;
  padding: 0;
  margin: 0;
}

#setTimerDisplay button {
  font-size: 1.3rem;
  background-color: yellowgreen;
  border: 1px solid #0496c7;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

/* =============================== VOLUMN AND QUIT BUTTON =============================== */
#volumeAndQuitButton {
  display: flex;
  justify-content: space-between;
  background-color: #0496c7;
  align-items: center;
}

#sound {
  display: flex;
  align-items: center;
}

#quitPrompt {
  position: absolute;
  z-index: 4;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-weight: bold;
  font-size: 1.3rem;
  color: black;
  background-color: bisque;
  border: 2px solid black;
  border-radius: 20px;
  visibility: hidden;
  padding: 10px;
}

.quitPromptAnwser {
  display: flex;
  justify-content: space-evenly;
}

.quitPromptAnwser p {
  font-size: 1.5rem;
  color: azure;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.quitPromptAnwser p:nth-child(1){
  background-color: green;
  border: green 1px solid;
}

.quitPromptAnwser p:nth-child(1) a {
  color: azure;
  text-decoration: none;
}

.quitPromptAnwser p:nth-child(2) {
  background-color: #e93b3b;
  border: #e93b3b 1px solid;
}

/* =============================== GAME FINISH NOTIFICATION =============================== */
#finishGame {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  background-color: rgb(12, 9, 52);
  border: 5px solid black;
  border-radius: 20px;
  padding: 5px;
  visibility: hidden;
  z-index: 1;
}

#finishGame p:nth-child(1) {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  color: yellow;
  padding: 0 30px;
  margin-bottom: 30px;
}

#finishGame p:nth-child(2), #finishGame p:nth-child(3) {
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  padding: 0 30px;
  margin: 0;
  margin-bottom: 10px;
}
