html, body {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: sans-serif;
}
canvas {
  display: block;
}

#notification {
  display: flex;
  justify-content: space-between;
}

#finish {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  visibility: hidden;
}