html, body {
  margin: 0;
  padding: 0;
  cursor: default;
  background-color: #0496c7;
}
canvas {
  display: block;
}

.footer {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: yellow;
  margin: 0;
  text-align: center;
  padding: 10px 0;

}
.nofication {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  visibility: hidden;
}

#startDiv {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 6em;
  align-items: center;
  margin-top: 20px;
}

#startButton {
  height: 2.5em;
  padding: 20px 40px;
  background-color: yellowgreen;
  border: 1px solid yellowgreen;
  border-radius: 10px;
  color: black;
  font-size: 30px;
  font-weight: 700;
  transition: all 0.25s;
  width: max-content;
}

#startButton:hover {
  border: 1px solid azure;
  background-color: azure;
}

#startButton:active {
  background-color: azure;
  border: 1px solid yellowgreen;
  color: yellowgreen;
}

#next {
  height: 2.5em;
  padding: 20px 40px;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 10px;
  color: black;
  font-size: 30px;
  font-weight: 700;
  transition: all 0.25s;
  width: max-content;
  margin-right: 20px;
  visibility: hidden; 
}

#next:hover {
  border: 1px solid azure;
  background-color: azure;
}

#next:active {
  background-color: azure;
  border: 1px solid orange;
  color: orange;
}

#tryAgainButton{
  visibility: hidden;
}

#tryAgainButton {
  height: 2.5em;
  padding: 20px 20px;
  background-color: #e93b3b;
  border: 1px solid #e93b3b;
  border-radius: 10px;
  color: black;
  font-size: 30px;
  font-weight: 700;
  transition: all 0.25s;
  width: max-content;
  margin-left: 20px;
  visibility: hidden; 
}

#tryAgainButton:hover {
  border: 1px solid azure;
  background-color: azure;
}

#tryAgainButton:active {
  background-color: azure;
  border: 1px solid #e93b3b;
  color: #e93b3b;
}
#footer {
  display: flex;
  justify-content: space-between;
  background-color: #0496c7;
}


#text {
  color:white;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
}

#volume {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
}

#quit {
  margin-right: 20px;
  margin-top: 20px;
}

.function img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.function {
  background-color: #ecd079;
  display: flex;
  border: 2px solid black;
  border-radius: 20px;
}