html, body {
  margin: 0;
  padding: 0;
  cursor: default;
  background-color: #0496c7;
  font-family: sans-serif;
}

* {
  user-select: none;
}
canvas {
  display: block;
}

.footer {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: yellow;
  margin: 0;
  text-align: center;
  padding: 10px 0;
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

.notification {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  visibility: hidden;
  margin: 0;
}


#text {
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.3rem;
}

#portion {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
}

#help {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: bisque;
  padding: 50px;
  border: 3px solid grey;
  border-radius: 10px;
  padding-top: 40px;
  max-width: 700px;
  max-height: 400px;
  overflow-y: scroll;

}

#help h2 {
  margin: 0;
  font-weight: 900;
  text-align: center;
}

#help h3 {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
}

#help::-webkit-scrollbar {
  width: 10px;
}

#help::-webkit-scrollbar-track {
  background-color: bisque;
  border-radius: 100vw;
}

#help::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 100vw;
}
#startDiv {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 6em;
  align-items: center;
  margin-top: 20px;
}

#startButton {
  height: 2.5em;
  padding: 20px 40px;
  background-color: yellowgreen;
  border: 1px solid yellowgreen;
  border-radius: 10px;
  color: black;
  font-size: 30px;
  font-weight: 700;
  transition: all 0.25s;
  width: max-content;
}

#startButton:hover {
  border: 1px solid azure;
  background-color: azure;
}

#startButton:active {
  background-color: azure;
  border: 1px solid yellowgreen;
  color: yellowgreen;
}

#next {
  height: 2.5em;
  padding: 20px 40px;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 10px;
  color: black;
  font-size: 30px;
  font-weight: 700;
  transition: all 0.25s;
  width: max-content;
  margin-right: 20px;
  visibility: hidden; 
}

#next:hover {
  border: 1px solid azure;
  background-color: azure;
}

#next:active {
  background-color: azure;
  border: 1px solid orange;
  color: orange;
}

#tryAgainButton {
  height: 2.5em;
  padding: 20px 20px;
  background-color: #e93b3b;
  border: 1px solid #e93b3b;
  border-radius: 10px;
  color: black;
  font-size: 30px;
  font-weight: 700;
  transition: all 0.25s;
  width: max-content;
  margin-left: 20px;
  visibility: hidden; 
  user-select: none;
}

#tryAgainButton:hover {
  border: 1px solid azure;
  background-color: azure;
}

#tryAgainButton:active {
  background-color: azure;
  border: 1px solid #e93b3b;
  color: #e93b3b;
}
#footer {
  display: flex;
  justify-content: space-between;
  background-color: #0496c7;
}


#volume {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
}

#quit {
  margin-right: 20px;
  margin-top: 20px;
}

.function img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.function {
  background-color: #ecd079;
  display: flex;
  border: 2px solid black;
  border-radius: 20px;
}

#quitPrompt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  font-family: sans-serif;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.3rem;
  background-color: bisque;
  z-index: 4;
}

.quitPromptAnwser {
  display: flex;
  justify-content: space-evenly;
}

.quitPromptAnwser button:nth-child(1) {
  background-color: green;
  border: green 1px solid;
  color: azure;
  font-size: 1.5rem;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 10px;
}


.quitPromptAnwser button:nth-child(2) {
  background-color: #e93b3b;
  border: #e93b3b 1px solid;
  color: azure;
  font-size: 1.5rem;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 10px;
}

#finish {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  text-align: center;
  z-index: 3;
  padding: 30px;
  border-radius: 20px;
  background-color: rgb(38, 34, 103);
}

#finish p:nth-child(1) {
  color: yellow;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

#finish p:nth-child(2), #finish p:nth-child(3) {
  margin: 0;
  margin-top: 25px;
  color: white;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}

#finish p:nth-child(3) {
  margin: 0;
}


